HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
/.idea/
*.iws
*.jar
*.iml
*.ipr
*.class
/target/
### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
compiler.xml
encodings.xml
misc.xml
modules.xml
workspace.xml
### VS Code ###
.vscode/
/.mvn/
